body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Consolas;
    background-color: #333;
}
.button{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;

}
.button__line{
    position:absolute;
    display: block;

}
.button__line--top{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,red);
}
.button:hover .button__line--top{
   left: 100%;
   transition: 1s;
   transition-delay: 0.25s;/* задержка твоей тёлки*/
}

.button__line--bottom{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,red);
}
.button:hover .button__line--bottom{
   right: 100%;
   transition: 1s;
   transition-delay: 0.25s;
}

.button__line--left{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg,transparent,red);
}
.button:hover .button__line--left{
   bottom: 100%;
   transition: 1s;
   transition-delay: 0s;
}
.button__line--right{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,red);
}
.button:hover .button__line--right{
   top: 100%;
   transition: 1s;
   transition-delay: 0s;
}

.button:hover {
    box-shadow:0 0 10px red,0 0 40px red,0 0 80px red;
    background-color: red;
    color:black;
    transition-delay: 1s;
 }