body{
	background-color: #3d385a;
	text-decoration: none;
	font-size: 24px;
	font-family: sans-serif;
}
.section{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}
.menu-btn{
	display: block;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
}
.menu-btn span{
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after{
	content: '';
	display: block;
	transition: 0.5s;
}
.menu-btn span::before{
	transform: translateY(-50px);
}
.menu-btn span::after{
	transform: translateY(5px);
}
.menu-btn_active span:before{
	transform:  rotateY(45deg);
	width: 10px;
	transform-origin: left bottom;
}
.menu-btn_active span::after{
	transform: rotateY(-45deg);
	width: 10px;
	transform-origin: left top;
}