body
{
	margin:0;
	font-family: sans-serif;
}

.section
{
	background-color: #f2395a;
	color:#fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
}

.heading
{
	margin-left: 20%;
}

.phone,
.table,
.desctop
{
	box-shadow: 13px 13px 32px 0 rgba(245, 57, 90, .3);
	background-color: #fff;
	transition: 1s;
	position: absolute;
	transform: translateY(100%);tra
}

.phone
{
	width: 200px;
	height: 280px;
	position: absolute;
	z-index: 3;
	left: 5%;
	bottom: 0;
}

.table
{
	width:360px;
	height: 380px;
	position: absolute;
	bottom: 0;
	left: 10%;
	z-index: 1;
}

.desctop
{
	width: 680px;
	height: 480px;
	position: absolute;
	bottom: 0;
	left: 15%;
}

.section:hover .phone,
.section:hover .table,
.section:hover .desctop
{
	transform: translateY(0) rotateY(-15deg);

}