body{
    font-family: sans-serif;
}

.wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:#aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front{
    color:purple;
    background-color: #000;
}

.back {
    background-color: purple;
    transform: rotateY(180deg);
}

.card:hover .front{
    transform: rotateY(180deg);
}

.card:hover .back{
    transform: rotateY(360deg);
}