body {
    margin: 0;
    background-color: darkslateblue;
}

.section {
   perspective: 1000px;
}

.container{
    width: 680px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 1s;
    transform: rotateX(55deg) rotateZ(-45deg) rotateY(10deg);
    transform-style: preserve-3d;
}

.container-origin{
    transform: rotate(0);
}

img{
    max-width: 100%;
}

.card {
    width: 200px;
    margin: 10px;
    transition: 0.3s; 
}

.card:hover {
    cursor: pointer;
    transform: translateZ(20px);
}