html{
	height: 100%;
	overflow: hidden;
}

body
{
	margin:0;
	padding:0 ;
	perspective:1px ;
	transform-style: preserve-3d;
	overflow-y:scroll; 
	overflow-x:hidden; 
	font-family: sans-serif;
	color:green;
}

header
{
	box-sizing: border-box;
	min-height: 100vh;
	text-align: center;
	padding-top: 30%;
	transform-style: inherit;
	min-width:100vh;
}

header::before
{
	content: '';
	display: block;
	position: absolute;
	left:0;
	right: 0;
	bottom: 0;
	top:0;
	z-index: -1;
	transform-origin: center;
	min-height: 100vh;
	background-color: red;
	background-image: url('file:///C:/Users/Fast%20i7/Desktop/МШ/jss/фичи/фича%202/nastol.com.ua-42380.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	transform: translateZ(-1px) scale(2);
}

header h1
{
	margin-top: -100px;
}