body {
   padding: 0px ;
   margin: 0px ;
   color: black;
   /*background: url(../img/2.jpg) no-repeat center top / cover;*/
   font-family: Arial;
}

#first {
   height: 300px;
   background: url(../img/1.jpg) no-repeat center top / cover ;
   color: #fff;
}

.container {
    width: 1170px;
    margin: 0px auto;
}

header {
    padding-top: 50px;
}

.mail {
    float: left;
    font-size: 16px;
    padding-left: 0px;

}

.logo{
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 0px 0px 320px;
}

.phone {
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.logo span{
    color:white;
}

.logo ins{
    color:red;
}

h1{
    font-size: 41px;
    text-transform: uppercase;
    text-align: center;
    font-size: bold;
    margin-top: 100px;
}

h1 span {
    font-size: 31px;
    font-weight: normal;
    display: block;
}


 
    
.bad{
    background:url(../img/3.jpg)  no-repeat; 
    background-size:100%;    
    padding: 25px; 
    color: #fff;
    height: 700px;
    
}

.mer{
    background:url(../img/4.jpg)  no-repeat;
    background-size:100%;
    padding: 15px;    
    color: #fff;
    text-align: center;
}
.mer ins{
    color:red;
}
.cont {
    background: rgba(0, 0, 0, 0.65);
}
