#footer{
    width: 95%;
    height: 8vh;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 2%;
    background: #272727;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

.social{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    float: left;
    height: 8vh;
    float: left;
    /* background-color: #0c4b4b; */
}
.social > a{
    padding: 2%;
    font-size: 3vh;
    color: #ffffff;
}
.author{
    float: left;
    width: 40%;
    height: 8vh;
    color: #ffffff;
    text-align: center;
    /* background: #112233; */
    font-size: 3vh;
}
.author > p{
    padding: 0;
    margin: 0;
    margin-top: 2.5%;
}