body {
    margin: 0;
    font-family: sans-serif;
  }
  .section {
    background-color: #fab1a0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .envelope {
    position: relative;
    width: 200px;
    height: 110px;
  }
  .envelope__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s;
    transform: translateY(-100%);
    transform-origin: bottom;
  }
  .envelope__body {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
  .paper {
    background-color: #fff;
    width: 100px;
    height: 80px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    transform: translateY(-40px);
    transition: 0.2s;
    bottom: 0;
  }
  
  .envelope__top_close {
      transform: translateY(-110%) rotateX(180deg);
      z-index: 2;
  }
  .paper_close {
    transform: translateY(-10%);
    height: 40px;
  }