/* #main{
    width: 10%;
    height: 5vh;
    background: #eeeeee;
    border: 1px solid #000;
    text-align: center;
    margin: 10px 0;
}
#main p{
    display: none;
}
#main:target p{
    display: block;
}
#main:target + #click{
    display: none;
}
#main:target ~ #back{
    display: block;
}
#back{
    display: none;
    margin-left: 311px;
} */