/* #main{
    width: 10%;
    height: 5vh;
    background: #eeeeee;
    border: 1px solid #000;
    text-align: center;
    margin: 10px 0;
}
#main p{
    display: none;
}
#main:target p{
    display: block;
}
#main:target + #click{
    display: none;
}
#main:target ~ #back{
    display: block;
}
#back{
    display: none;
    margin-left: 311px;
} */

.text,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .text {
  display: block;
}

/* Стилизация псевдокнопки */
.btn1 {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
.btn2 {
    display: inline-block;
    margin-bottom: 4px;
    padding: 4px 8px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    cursor: pointer;
}
.btn3 {
    display: inline-block;
    margin-bottom: 4px;
    padding: 4px 8px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    cursor: pointer;
}
.btn4 {
    display: inline-block;
    margin-bottom: 4px;
    padding: 4px 8px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    cursor: pointer;
}