body {
    font-family: sans-serif;
    margin: 0;
  }
  .section {
    height: 100vh;
    background-color: #7b1fa2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
  }
  .menu-btn span::before {
    transform: translateY(-5px);
  }
  .menu-btn span::after {
    transform: translateY(5px);
  }
  
  .menu-btn_active span:before {
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
  }
  .menu-btn_active span:after {
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
  }
  .menu-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-nav a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
    transition: 1s;
  }
  .menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
  }